<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head %>
  </head>
  <body>
    <header>
      <% include ../partials/header %>
    </header>
    <div class="users">
      <% include partials/top %>

      <!-- main start -->


<div class="edit">
  <h3>Update User Information</h3>
  <form id="update_user" class="users_form" action="/users/<%= user._id %>?_method=put" method="post">
    <label>Current Password* <span id="password_error" class="error_message"><%= passwordError?passwordError:"" %></span></label><br>
    <input type="password" id="password" name="user[password]" value=""><p>
    <br><br>
    <label>Email* <span id="email_error" class="error_message"><%= emailError?emailError:"" %></span></label><br>
    <input type="text" id="email" name="user[email]" value="<%= formData?formData.email:(user?user.email:"") %>"><p>
    <label>Nickname* <span id="nickname_error" class="error_message"><%= nicknameError?nicknameError:"" %></span></label><br>
    <input type="text" id="nickname" name="user[nickname]" value="<%= formData?formData.nickname:(user?user.nickname:"") %>"><p>
    <label>New Password </label><br>
    <input type="password" id="new_password" name="user[newPassword]" value=""><p>
    <label>Password Confirmation <span id="password_confirmation_error" class="error_message"></span></label><br>
    <input type="password" id="password_confirmation" name="user[passwordConfirmation]" value=""><p>
    <p><small>*Required</small></p>
    <input type="button" class="submit_btn" value="Submit" style="width:150px;">
  </form><p>

  <!-- delete button here -->
    <form class="btn_del" action="/users/<%= user._id %>?_method=delete" method="post">
      <button type="submit" style="width:150px;">Delete this user</button>
    </form>

  <a href="javascript:history.back()"><button style="width:150px;">Back</button></a>
</div>

<script type="text/javascript" src="/js/userform.js"></script>

      <!-- main end -->
    </div>
  <footer>
    <% include ../partials/footer %>
  </footer>
</body>
</html>
