<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head %>
  </head>
  <body>
    <header>
      <% include ../partials/header %>
    </header>
    <div class="users">
      <% include partials/top %>

      <!-- main start -->


<div class="new">
  <h3>Sign Up</h3>
  <form id="create_user" class="users_form" action="/users" method="post">
    <label>Email* <span id="email_error" class="error_message"><%= emailError?emailError:"" %></span></label><br>
    <input type="text" id="email" name="user[email]" value="<%= formData?formData.email:"" %>"><p>
    <label>Nickname* <span id="nickname_error" class="error_message"><%= nicknameError?nicknameError:"" %></span></label><br>
    <input type="text" id="nickname" name="user[nickname]" value="<%= formData?formData.nickname:"" %>"><p>
    <label>Password* <span id="password_error" class="error_message"><%= passwordError?passwordError:"" %></span></label><br>
    <input type="password" id="password" name="user[password]" value=""><p>
    <label>Password Confirmation* <span id="password_confirmation_error" class="error_message"></span></label><br>
    <input type="password" id="password_confirmation" name="user[passwordConfirmation]" value=""><p>
    <p><small>*Required</small></p>
    <input type="button" class="submit_btn" value="Submit" style="width:150px;"><br>
  </form><p>
  <div><a href="javascript:history.back()"><button style="width:150px;">Back</button></a></div><p>
  <a href="/login"><button style="width:150px;">to Login Form</button></a>
</div>

<script type="text/javascript" src="/js/userform.js"></script>

      <!-- main end -->
    </div>
  <footer>
    <% include ../partials/footer %>
  </footer>
</body>
</html>
