<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head %>
  </head>
  <body>
    <header>
      <% include ../partials/header %>
    </header>
    <div class="users">
      <% include partials/top %>

      <!-- main start -->

<div class="show">
  <h3>User Info</h3>
  <div class="content">
    <p class="user_info">Email<small> : <%= user.email %></small></p>
    <p class="user_info">Nickname<small> : <%= user.nickname %></small></p>
    <p class="user_info">Password<small> : <%= user.password %></small></p>
  </div>

  <div class="tools">
    <a href="/users/<%= user._id %>/edit"><button style="width:150px;">Edit User</button></a>
    <!-- delete button here -->
    <form class="btn_del" action="/users/<%= user._id %>?_method=delete" method="post">
      <button type="submit" style="width:150px;">Delete</button>
    </form>
  </div>
  <a href="/posts"><button  style="width:150px;">Back to Board</button></a><p>
  <% if (user.email=="ha") { %><a href="/users/list/list"><button  style="width:150px;">User List</button></a><% } %>
</div>

      <!-- main end -->
    </div>
    <footer>
      <% include ../partials/footer %>
    </footer>
  </body>
</html>
